fastapi
uvicorn[standard]
python-multipart
requests
python-dotenv
json5
pycccedict
pydantic
yt-dlp
ffmpeg-python
numpy
pydub
pymongo
lingua-language-detector
pypinyin
openai-whisper
faster-whisper
torch
torchaudio
ctranslate2
onnxruntime
